.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

.question {
    font-size: 30px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.correct {
    background-color: lime;
}

.incorrect {
    background-color: orangered;
}

.submitButton {
    margin-top: 5px;
}

.option {
    width: 300px;
    display: flex;
    justify-content: center;
    cursor: default;
}

.optionClickable:hover {
    background-color: wheat;
    cursor: pointer;
}
